* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    margin: 1px;
}

ul.nav a {
    color: orange;
    font-weight: bold;

}



.carreras,
.noticias_div,
.centrador_noticias {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 40px;
}
.centrador_noticias, #noticia_body{
    width: 64%;
}

.noticia01_h3{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -50px;
}

.carreras {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
}

.noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carreras img {
    border-radius: 10px;
    margin: 20px;
    width: 500px;
    height: 321px;
}

.carrer_btn {
    display: block;
    text-align: center;
    width: 50%;
    align-items: center;
    background-color: #fa6400;
    border-radius: .25rem;
    color: #fff;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: center;
    position: relative;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.carrer_btn:hover,
.carrer_btn:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.carrer_btn:hover {
    transform: translateY(-1px);
}

.carrer_btn:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.noticias_div {
    display: flex;
}

#portada_div, #div_woxo{
    margin-bottom: 40px;
}

.noticia {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    align-self: flex-start;
}

.noticia img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.noticia h4 {
    color: white;
    width: 100%;
    white-space: normal;
    overflow: hidden;

}

.navbar-nav {
    color: orange;
    font-weight: bold;
}

.navbar-nav a {
    color: orange;
    font-weight: bold;
}

.nav-item a:hover {
    color: white
}

.custom-toggler {
    background-color: orange;
    border-color: orange;
}

.centrador {
    display: flex;
    align-items: center;
    justify-content: center;
}


.rounded {
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {

    .carreras,
    .noticias_div {
        flex-direction: column;
    }

    .noticia {
        max-width: 80%;
        margin-left: 10%;
    }
}

.planEstudios,
.laEscuela,
.calendario {
    width: 60%;
    margin-top: 5%;
    padding-right: 55px;
    padding-left: 55px;
    margin-right: auto;
    margin-left: auto;
    color: white;

}

.btn {
    color: orange;
    font-size: x-large;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card {
    background-color: antiquewhite;
    margin-top: 2%;
}


/*Noticas*/
.noticias p {
    color: white;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
}

.noticias h1 {
    color: white;
    margin-top: 2%;
    font-size: 50px;
    margin-bottom: 20px;
}

.noticias_div a {
    color: white;
    text-decoration: none;
}

/*Formulario*/

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.formulario h1 {
    color: orange;
}

.formulario button {
    margin-top: 5%;
}

.btn-form {
    background-color: orange;
    color: white;
}



.noticia_comp_img {
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Busqueda*/
#careerList {
    display: none;
    list-style-type: none;  
    flex-direction: column;
    padding-left: 0%;
  }

  .career-btn {
    background-color: black;   
    color: #fff;   
    padding: 3px;   
    background: none;
    border: none;
    padding: 0;   
    cursor: pointer;
  }

  .busqueda {
    display: flex;
   flex-direction: column;
    align-items:center;
    
  }

  .search-form {
    width: 33%;
  }

  .planEstudios a{
    color: white;
    text-decoration: none;
  }

  /*footer*/


  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fa6400;
    padding: 3px;
}

#img_not_1{
    width: 62%;
    height: auto;
}

  footer a {
    color: orange;
    font-size: x-large;
  }

  #social_icon{
    margin-left: 10px;
  }

  #collapserequisitos ul {
    text-align: justify;
}
#collapsehistoria p{
    text-align: justify;
}

.form-group {
    margin-top: 2%;
}


/*NOTICIAS*/
@media (max-width: 767px) {

    .noticias_div01 {
        flex-direction: column;
    }

    .noticia01 {
        max-width: 80%;
        margin-left: 10%;
    }
}


.noticias_div01 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.noticia01 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    /* Ajusta el porcentaje según sea necesario */
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    align-self: flex-start;
}

.noticia01 img {
    border-radius: 10px;
    max-width: 70%;
    height: auto;
}

.noticia01 h6 {
    color: white;
    width: 90%;
    white-space: normal;
    overflow: hidden;

}

.noticias_div01 a {
    color: white;
    text-decoration: none;
}

hr {
    color: white;
    width: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.noticia01_h3 {
    margin-left: 2%;;
}

.container-fluid {
    margin-top: 2%;
    margin-left: 2%;
    

}
.row a{

    font-weight: bold;
}

.list-group a{
    font-weight: normal;
}

#formulario {
    display: none;
}

.dropdown-menu{
   background-color: black;     
}
.dropdown-menu a{
  color:white;
}
.dropdown a:hover{
    background-color: black;
}

.alta_usuario label{
    margin-bottom: 0%;
}
#correo {
  text-align: end;
}

