*{
    margin: 0;
    padding: 0;
}
body{
    background-color:black;
    margin: 1px;
}

.carousel-item {
    background-color: orange;
    height: 300px; /* Alto deseado */
  }

  ul.nav a {
    color: orange;
   font-weight: bold;
   
  }
  .nav-item a:hover {
    color: white
  }

  /*Plan de estudio DG*/
  .planEstudios{
    width: 60%;
    margin-top: 2%;
    padding-right: 55px;
    padding-left: 55px;
    margin-right: auto;
    margin-left: auto;
    color: white; 
  
  }
  .btn{
  color: orange;
  font-size:x-large;
  margin-top: 2%;
  margin-bottom: 2%;
  }
  .card { 
    background-color: antiquewhite;
    margin-top: 1%;
  }

  /*Formulario*/
  
.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.formulario h1 {
  color: orange;
}

.formulario button {
  margin-top: 5%;
}

.btn-form {
  background-color: orange;
  color: white;
}